/* reset */
a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: auto;
}

/* header and footer*/
.page-header {
    border-bottom: 1px solid #e7e9fc;
}
.logo{
color: #4D5AE5;
font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}   
.logo2 {
    color: #2E2F42;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
}
.logo-foot {
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
}
.footer-dark {
    background-color: #2E2F42;
}
/* header and footer*/
/* nav menu*/
.list-menu {
        display: block;
        padding: 24px 0;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.list-menu:hover, .list-menu:focus {
    color: #404BBF;
}
/* nav menu*/
/*adrres menu*/
.add-menu:hover, .add-menu:focus {
color: #404BBF;
}
.add-menu {
    color:#434455;
}
.add-cont {
    font-style: normal;
    margin-left: auto;
}
/*adrres menu*/
/*secction 1*/
.section-one {
    background-color: #2E2F42;
}
.title {
    width: 496px;  
    display: block; 
    margin: 0 auto;
    padding-bottom: 48px;
    color: #FFFFFF;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
}
.btn {
    display: block;
    margin: 0 auto;
    width: 169px;
    height: 56px;
    cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background-color: #4D5AE5;
        color: #FFFFFF;
        border: none;
        border-radius: 4px  ;
}

.container-btn{
    padding: 188px 0;
}
.btn:hover, .btn:focus {
background-color: #404BBF;
}
/*section 1*/
/*section 2*/
.sect-two-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
        margin-bottom: 8px;
}
.sect-two-p {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.ul-strengths {
    display: flex;
    gap: 24px;
    flex-basis: calc((100% - 72px) / 4);
}
/*section 2*/
/*section 3*/
.section-three {
    background-color: #F4F4FD;
}
.sect-three-title {
    padding: 72px 0;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
        text-transform: capitalize;
}
.names {
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
        margin-bottom: 8px;
}
.names-info {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
.ul-names {
    display: flex;
    gap: 24px;
    flex-basis: calc((100%-96px)/4);
}
.team-list {
    background-color: #FFFFFF;
}
.text-names {
    margin-top: 32px;
    gap: 40px;
}
/*section 3*/
/*section 4*/
.section-four {
    background-color: #FFFFFF;
}
.sect-four-title {
     padding-bottom: 72px;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
        text-transform: capitalize;
}
.apps-names {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
        margin-bottom: 8px;
}
.apps-info {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.ul-apps {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    flex-basis: calc((100% - 48px) / 3);
}

/* section4 */
/* footer */
.footer-info {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
}

.header-container {
    display: flex;
    align-items: center;
}
.nav-menu {
    display: flex;
    align-items: center;
}
.nav-ul {
    display: flex;
    align-items: center;
    gap: 40px;
}
.add-ul {
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-logo  {
    padding: 24px 0;
    margin-right: 76px;
}
.section-container {
    padding: 120px 0;
}